---
/**
 * 这里定义了每个语言的课程列表页，并将其作为静态页面预渲染。
 */

import DemoLayout from '@/layouts/DemoLayout.astro';
import { Products } from '@coffic/cosy-ui';
import { lessonRepo } from '@coffic/cosy-content';
import { getExampleImage } from '@coffic/cosy-ui';

export async function getStaticPaths() {
  return [
    {
      params: {
        lang: '/zh-cn',
      },
    },
    {
      params: {
        lang: '/en',
      },
    },
  ];
}

const { lang } = Astro.params;

const lessons = await lessonRepo.allLessons(lang);
const title = lang === 'zh-cn' ? '教程列表' : 'Build Your Own List';
---

<DemoLayout title={title} showTOC={false} showSidebar={false}>
  {
    lessons.length > 0 ? (
      <Products
        layout="grid"
        columns={{ base: 1, sm: 2, md: 3, lg: 3 }}
        cardSize="md"
        gap="lg"
        products={lessons.map((lesson) => ({
          name: lesson.getTitle(),
          description: '点击查看课程详情',
          productUrl: lesson.getLink(),
          image: getExampleImage({ width: 300, height: 200 }),
        }))}
      />
    ) : (
      <div class="text-center text-base-content/70">暂无教程</div>
    )
  }
</DemoLayout>
