---
import { AppLayout } from '@coffic/cosy-ui';
import { configApp } from '@/config/config.app';

interface Props {
  title: string;
  showTOC?: boolean;
  showSidebar?: boolean;
}

const { title, showTOC = true } = Astro.props;

// 从 URL 获取当前语言
const currentLocale = Astro.url.pathname.split('/')[2] || 'zh-cn';

// 定义支持的语言
const languages = ['zh-cn', 'en'];

export const getStaticPaths = async () => {
  return [
    {
      params: { lang: 'zh-cn' },
    },
    {
      params: { lang: 'en' },
    },
  ];
};
---

<AppLayout
  debug={false}
  showSidebar={false}
  metaConfig={{
    title: title,
    description: 'Cosy UI - A beautiful Astro component library',
    keywords: 'Cosy UI, Astro, component library',
    author: 'CofficLab',
    robots: 'index, follow',
  }}
  footerConfig={{
    siteName: 'Cosy UI',
    homeLink: configApp.homeLink,
    slogan:
      currentLocale === 'zh-cn'
        ? '优雅、高效的 Astro 组件库'
        : 'A beautiful Astro component library',
    company: 'CofficLab',
    copyright: '© 2025 CofficLab',
    inspirationalSlogan:
      currentLocale === 'zh-cn'
        ? '构建美好的用户界面'
        : 'Build a beautiful user interface',
    products: [
      { name: 'Cisum', href: 'https://coffic.cn/cisum' },
      { name: 'JuiceEditor', href: 'https://coffic.cn/juice_editor' },
      { name: 'GitOK', href: 'https://coffic.cn/gitok' },
      { name: 'Cosy UI', href: 'https://github.com/cosyzone/cosy-ui' },
    ],
    aboutLink: 'https://coffic.cn/en/meta/about',
    contactLink: 'https://coffic.cn/en/meta/contact',
    termsLink: 'https://coffic.cn/en/meta/terms',
    privacyLink: 'https://coffic.cn/en/meta/privacy',
    historyLink: 'https://coffic.cn/en/meta/out-story',
    techStackLink: 'https://coffic.cn/en/meta/tech-stack',
  }}
  headerConfig={{
    logoHref: configApp.homeLink,
    navItems: configApp.getNavItems(currentLocale || 'zh-cn'),
  }}
  sidebarConfig={{
    sidebarItems: [],
    debug: false,
  }}
  mainContentConfig={{
    verticalPadding: '4xl',
    showTableOfContents: showTOC,
    isArticle: true,
  }}
  showHeader={true}>
  <h1>文档布局</h1>

  <h2>简介</h2>

  <p>
    文档布局是Cosy
    UI提供的一种布局方式，用于展示文档内容。它可以帮助用户更好地组织和展示文档，提高阅读体验。
  </p>

  <h3>小标题</h3>

  <p>段落</p>
</AppLayout>
