---
import { type ISidebarItem, AppLayout } from '@coffic/cosy-ui';
import Favicon from '@/assets/favicon.png';
import { configApp } from '@/config/config.app';
import { configProducts } from '@/config/config.products';
import * as astroI18n from 'astro:i18n';
import Search from 'astro-pagefind/components/Search';

interface Props {
  title: string;
  showTOC?: boolean;
  showSidebar?: boolean;
  sidebarItems?: ISidebarItem | null;
  isArticle?: boolean;
  verticalPadding?: string;
  mainLayout?: 'row' | 'column';
}

const {
  title,
  showTOC = true,
  showSidebar = true,
  sidebarItems = null,
  isArticle = true,
  verticalPadding = '4xl',
  mainLayout = 'row',
} = Astro.props;
const currentLocale = Astro.currentLocale;
---

<AppLayout
  debug={false}
  metaConfig={{
    title: title,
    description: 'Cosy UI - A beautiful Astro component library',
    keywords: 'Cosy UI, Astro, component library',
    author: 'CofficLab',
    robots: 'index, follow',
    favicon: Favicon,
  }}
  footerConfig={{
    siteName: 'MagicKit',
    homeLink: configApp.homeLink,
    slogan:
      currentLocale === 'zh-cn'
        ? '优雅、高效的组件库'
        : 'A beautiful Astro component library',
    company: 'CofficLab',
    copyright: 'CofficLab',
    inspirationalSlogan:
      currentLocale === 'zh-cn'
        ? '构建美好的用户界面'
        : 'Build a beautiful user interface',
    socialLinks: ['https://github.com/cosyzone/cosy-ui'],
    products: configProducts.products,
    aboutLink: 'https://coffic.cn/en/meta/about',
    contactLink: 'https://coffic.cn/en/meta/contact',
    termsLink: 'https://coffic.cn/en/meta/terms',
    privacyLink: 'https://coffic.cn/en/meta/privacy',
    historyLink: 'https://coffic.cn/en/meta/our-story',
    techStackLink: 'https://coffic.cn/en/meta/tech-stack',
  }}
  headerConfig={{
    logoHref: configApp.homeLink,
    navItems: configApp.getNavItems(currentLocale || 'zh-cn'),
    navPosition: 'start',
    showThemeSwitcher: true,
    astroI18n: astroI18n,
  }}
  sidebarConfig={{
    sidebarItems: sidebarItems ? [sidebarItems] : [],
    debug: false,
  }}
  mainContentConfig={{
    verticalPadding: verticalPadding,
    isArticle: isArticle,
    layout: mainLayout,
    size: isArticle ? 'full' : 'lg',
    padding: 'none',
    showTableOfContents: showTOC,
  }}
  showHeader={true}
  showFooter={true}
  showSidebar={showSidebar}
  loadingDelay={500}>
  <slot />

  <div slot="modal-search">
    <Search uiOptions={{ showImages: false }} />
  </div>
</AppLayout>
